body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0%;
    display: grid;
}



/* HEADBAR */ 


#hbar {
    overflow: hidden;
    z-index: 2;
    top: 0px;
    position: sticky;
    color: rgb(0, 0, 0);
    width: auto;
    height: 50px;
    background-color: rgb(16, 16, 17);
    font-family: 'Times New Roman', Times, serif;
    border-width: 1px;
    border-color: rgb(48, 45, 45);
    border-style: outset;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
}

#title {
    text-align: center;
    height: min-content;
    width: fit-content;
    margin-left: 20px;
}

#links {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 20px;
    height: min-content;
    width: max-content;
    display: flex;
}

.link {
    margin: 4px;
}

/* HEADBAR */ 




#landimg {
    position: sticky;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}

#main {
    box-sizing: border-box;
    overflow: hidden;
    background-color: rgb(199, 199, 199);
    z-index: 1;
    justify-self: center;
    justify-items: center;
    width: 100%;

}




/* CATCH */ 

#catch {
    
    display: grid;
    font-weight: bolder;
    font-optical-sizing: auto;
    font-size: 50px;
    background-color: rgb(212, 212, 214);
    width: 100%;
    justify-content: center;
}

#note {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    justify-self: center;
    font-size: 10px;
    font-weight: normal;
}

/* CATCH END */ 



.slider {
    max-width: 100vw;
}




/* MAIN SLIDER DISPLAY */

#top-slider{
    margin-top: 30px;
    display: inline-flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
}   

#random-display{
    background-color: rgb(212, 212, 214);
    border-width: 3px;
    border-style: solid;
    border-color: rgb(143, 143, 143);
    width: 90%;
}

.main-slide-img {
    margin: 10px;
    object-fit: scale-down;
    height: 100%;
}

/* MAIN SLIDER DISPLAY */



/* Themes Section Heading */

#themes-catch{
    font-weight: 1000;
    font-size: 50px;
    background-color: rgb(212, 212, 214);
    width: 100%;
    justify-content: center;
}
#themes-catch hr{
    background-color: black;
    color: black;
    width: 100%;
    margin: 5px;
}
#themes-catch #note{
    font-family: 'Times New Roman', Times, serif;

    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
    margin: 5px;
}
/* Themes Section Heading */




/* Themes slider */
#themes-slider{
    display: inline-flex;
    width: 75%;
    max-width: 75%;
    overflow: hidden;
    justify-content: center;
}

#themes-slider-div{
    justify-self: center;
    background-color: rgb(212, 212, 214);
    width: 70%;
}
#themes-slider-div .main-slide-img { 
    max-width: 100%;
}

#themes-slider-div-2{
    background-color: rgb(212, 212, 214);
    width: 70%;
}
#themes-slider-div-2 .main-slide-img {
    
    max-width: 100%;
}
#themes-slider-div-3{
    background-color: rgb(212, 212, 214);
    width: 70%;
}
#themes-slider-div-3 .main-slide-img {
    
    max-width: 100%;
}




.theme-slider-title{
    padding-top: 1%;
    left: 25%;
    z-index: 2;
    color: white;
    position: absolute;
    font-size: 5vw;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

}



/*gallary-display */ 
#gallary-display {
    margin-top: 10px;
    background-color: rgb(34, 34, 34);
    box-sizing: border-box;
    width: 100%;
    height: 80vh;
    display: flex;

}

#slide1 {
    margin: 4%;
    width: 30%;
}

#slide1 .slide-img {
    width: 30%;

}
#gallary-imgs{
    flex-wrap: wrap;
    height: 100%;
    width: 70%;
}
.gallery-image{
    max-width: 70%;
    max-height: 50%;
    object-fit: cover;
    flex-wrap: wrap;

}
#gm1{
    height: 30%;
}
#gm2{
    height: 30%;
}
#gm3{
    height: 30%;
}
#gm4{
    height: 30%;
}
#gm5{
    height: 30%;
}
#gm6{
    height: 30%;
}
#gm7{
    height: 30%;
   
}
#gm8{
    height: 30%;

}


/*gallary-display END */ 


